/* Colors :{ Header: {background-colors: [#1D70A2, darkred, #AFAFAF, #E67F0D, 4C061D]},
Lines: {background-colors: [#191716, lightblue, #A5AD3A, #557F2D, #190F1E ]},
 Card: {background-colors: [#F9F393, white, #558564, #F4D995, #FFEEED ]}} */

html, body, #root {height: 100%;}

.preset1{
  width: 80%;
  margin: 0 auto;
}

.hide {
  display: none;
}

.preset1 header{
  background-color:#1D70A2;
  padding: 1%;
}

.preset1 .card, .right input[type="text"], textarea{
border-color: #191716 !important;
background-color: #F9F393;
}

.App {
  text-align: center;
  height: 100%;
width: 75%;
margin: 0 auto;
display: flex;
margin-top: 1%;
}

body {
  background-color: #C89B7B;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

ul {
  list-style: none;
}

header {
  color: black;
  background-color: #E67F0D;
  display: inline-block;
  width: 100%;
  border: 1px solid black;
}
header button,h1 {
  display: inline-block;
}
header button {
 /* Green */
 border-radius: 10%;
  color: inherit;
  margin: 2%;
  text-align: center;
  font-size: 12px;
}

header input[type='text'] {
  background-color: inherit;
  color: inherit;
  border: none;
  font-size: 16px;
  width: 60%;
}
ul{
  margin: 0;
  padding: 0;
}
.card {
width: 100%;
border: 1px solid black;
border-bottom-color: #557F2D;
border-top: 0px;
box-shadow: 1px 0px #888888;
background-color: #F4D995;
padding: 1%;
}
.card input[type="text"], textarea {
  display: block;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: inherit;
  width: 100%;
  border-left: 1px solid #190F1E;
  resize: none;
  overflow-y:scroll;
  padding:0;
  height: 40%;
  border-bottom: 1px solid #190F1E;
  border-color: #557F2D;
}

textarea {
  border-bottom: none;
}

.card input[type="checkbox"]{

}
.right{
  width: 90%;
  height: 30%;
  display: inline-block;
}
.left {
  display: inline-block;
  width: 10%;
  height: 100%;
  float: left;
  text-align: center;
  vertical-align: middle;
}

.left button {
  display: block;
  margin: 0 auto;
  background-color: inherit;
  border: none;
  color: inherit;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

input[type=checkbox]:checked + textarea + .card input[type="text"]{
  text-decoration: line-through;
}

.settings {
  height: 100%;
  border: 1px solid black;
  background-color: grey;
  margin-right: 3%;

}
.settings button {
  display: block;
  margin: 0 auto;
  margin-top: 2%;
}

.sidebar {
  min-height: 100%;
    width: 35%;
  height: 100%;
}
